{
    "extends": [
        "eslint-config-airbnb"
    ],
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "rules": {
        "linebreak-style": [
            "never",
            "windows"
        ],
        "import/extensions": [
            "error",
            "always",
            {
                "js": "always"
            }
        ]
    }
}