/* Global styles */
* {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  font-family: Poppins;
  font-size: 16px;
  line-height: 1.1;
}

.container {
  max-width: 500px;
  margin: auto;
}

/* Header styles */
.header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.logo {
  min-width: 85px;
  min-height: 40px;
}

/* dog-detail profile styles */

.dog-detail {
  background-size: cover;
  height: 78%;
  position: relative;
  padding: 1em;
  margin: 0 0.5em;
  border-radius: 15px;
  cursor: pointer;
}

.dog-detail h3,
.dog-detail p {
  margin: 0;
  position: absolute;
}

.dog-detail h3 {
  bottom: 3em;
  font-weight: 600;
  font-size: 1.5rem;
  color: #f8f8f8;
}

.dog-detail p {
  bottom: 3em;
  font-size: 1rem;
  color: #b7b7b7;
}

.dog-detail h2 {
  position: absolute;
  top: 50%;
}

.badge {
  width: 230px;
  transform: rotate(330deg);
  position: absolute;
  top: 6em;
  left: 2em;
  display: none;
}

/* like and dislike button styles */

.button-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin: 1em 0;
}

.action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  width: 30px;
  height: 30px;
  padding: 1.3em;
  border-radius: 50%;
  box-shadow: 0px 10px 20px #e9e9ea;
  border: none;
}

.action-btn button {
  border: none;
  background: none;
  cursor: pointer;
}

.action-btn button:disabled {
  cursor: not-allowed;
}
